
<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<div class="logo">
			<img src="../../assets/images/logo.webp">
		</div>
	</ion-navbar>
</ion-header>

	<!---header--->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">



	<header><div class="userID">{{auth.getUid()}}</div>
		<div class="top_bar">
			<div class="container">
				<ul>
					<li><a href="mailto:insights@manatt.com "><i class="fas fa-envelope"></i>insights@manatt.com </a></li>
					<li><a href="tel:0987654321"><i class="fas fa-phone"></i>(098) 765-4321</a></li>
					<li>Get In Touch
						<a href="#"><i class="fab fa-facebook"></i></a>
						<a href="#"><i class="fab fa-twitter-square"></i></a>
						<a href="#"><i class="fab fa-google-plus-square"></i></a>
					</li>
				</ul>
			</div>
			</div>
		<div class="container">
			<div class="lower_bar">
				<ul>
	<li *ngFor="let p of pages" [class.active_menu]="title == p.title"  (click)="openPagemain(p)"  ><a>{{p.title}}</a>

					</li>


					<li *ngIf="auth.authenticated">
						<a (click)="logout()">Log out</a>
					</li>
					<li *ngIf="!auth.authenticated">
						<a (click)="login()">Log in</a>
					</li>
				</ul>
			</div>
			<div class="logo">
				<img src="../../assets/images/logo.png">
			</div>
		</div>
	</header>
