<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Log in</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	
<section class="form-section">
	<div class="form-inner">
		<div class="form-graphic">
			<img src="../../assets/images/vector.png">
		</div>
		<div class="form-design">
			<img src="../../assets/images/logo.png">
		 
			<form (ngSubmit)="login()" [formGroup]="loginForm">
				<p class="form_heading">Login</p>
				
				
		<ion-list inset>

			<ion-item [ngClass]="{ invalid: emailErrors.hasError('*', ['touched', 'dirty']) }">
				<ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
			</ion-item>

			<div ngxErrors="email" #emailErrors="ngxErrors">
				<div [ngxError]="['email', 'required']" [when]="['touched', 'dirty']">It should be a valid email</div>
			</div>

			<ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched']) }">
				<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
			</ion-item>

			<div ngxErrors="password" #passwordErrors="ngxErrors">
				<div [ngxError]="['minlength', 'required']" [when]="['touched']">It should be at least 5 characters</div>
			</div>
		</ion-list>

		<div padding-horizontal>
			<div class="form-error">{{loginError}}</div>

			<button ion-button full type="submit" [disabled]="!loginForm.valid">Log in</button>
			<!--div class="login-footer">
				<p>
					<a href="#">Forgot password?</a>
					If you're a new user, please sign up.
				</p>
			</div--->

			
			<ion-list>

				<button ion-button icon-left block clear (click)="signupbtn()">
					<ion-icon name="person-add"></ion-icon>
					Sign up
				</button>
			</ion-list>
		</div>
	</form>
			
		</div>
	</div>
</section>

</ion-content>