<!--
  Generated template for the VerifiEmailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>VerifiEmail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1>Your Email is not verified.Please verifi you email before login</h1>
</ion-content>
