page-profile {
.form-design {
    width: 50%;
    margin: auto;
	float: unset;
	padding: 30px 0px;
		
.checkbox{
  display:inline-block;
  margin:0px;
}

}
.chk-bx {
    padding: 20px 0px;
	display: flex;
	    padding-left: 20px;
		
		ion-checkbox.checkbox.checkbox-md.checkbox-md-primary {
    margin: 0px;
}
.item-inner{
border-bottom:none !important
}
}

ion-label.label.label-md {
    margin: 0px;
    text-overflow: unset;
}
button.button.button-md.button-default.button-default-md.button-full.button-full-md {
    width: 22%;
}
}
