<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Profiles</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
<my-main-header  pagetitle="profile"></my-main-header>


<form (ngSubmit)="profile_form()" [formGroup]="profileForm">
<div class="profile-form form-design">
<ion-list>
  <ion-item>
  <h4>First Name</h4>
    <ion-input  placeholder="First Name" formControlName="fname" value="{{userdata.fname}}"></ion-input>
	
  </ion-item>
<ion-item>
<h4>Last Name</h4>
     <ion-input placeholder="Last Name" formControlName="lname" value="{{userdata.lname}}"></ion-input>
</ion-item>
<ion-item>
<h4>Email</h4>
     <ion-input  placeholder="Email" formControlName="email" value="{{userdata.email}}"></ion-input>
	
</ion-item>
<ion-item>
<h4>Phone Number</h4>
     <ion-input placeholder="Phone Number" formControlName="phone_number" value="{{userdata.phoneumber}}"> </ion-input>
</ion-item>

</ion-list>

<ion-list class="chk-bx">
	<ion-item *ngFor="let page of checkboxpages">
	<ion-checkbox color="primary" (click)="selectpage(page)"  [(ngModel)]="page.checked" [ngModelOptions]="{standalone: true}"></ion-checkbox>
	<ion-label>{{page.name}}</ion-label></ion-item>
	
	
 
</ion-list>

<button ion-button full type="submit" >Save</button>
</div>

</form>

<!----footer-->
    <footer>
		<div class="container">
			<div class="foot-outr">
				<div class="left-foot">
					<img src="">
				</div>
				<div class="right-foot">
					<ul>
						<li><a href="">Privacy</a></li>
						<li><a href="/#/340b">340B</a></li>
						<li><a href="/#/1115states" >1115 States</a></li>
					</ul>
				</div>
			</div>
			<div class="lower-foot">
				<ul>
					<li>Follow us:</li>
					<li>
						<a href=""><i class="fab fa-facebook"></i> </a>
						<a href=""><i class="fab fa-twitter"></i></a>
						<a href=""><i class="fab fa-linkedin-in"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<!----footer-->

</ion-content>