
	.page-home {
		.header_section {
			display: block;
		}
		#vertical-ticker table, #vertical-ticker th, #vertical-ticker td {
border: none;
	border-collapse: collapse;
}
#vertical-ticker thead th {
	font-weight: 600;
	font-size: 15px;
	background: #1caf8d;
	color: #fff;
	padding: 2px 10px;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;

}
#vertical-ticker tbody td{
	color: #333230;
	padding: 10px 5PX;
	font-size: 14px;
	border-right: 1px solid #d2d2d2;
	position:relative;
}
#vertical-ticker tbody tr td:first-child {
    font-weight: lighter;
   background-color: transparent;
	color: #383838;
}
#vertical-ticker .cr {
	width: 12px;
	height: 13px;
	position: absolute;
	top: 14px;
	background-size: 12px;
	right: 26px;
	left: 20px;
	margin: auto;
}
#vertical-ticker .green{
background-image: url('img/tick3.png');
}
#vertical-ticker .blue{
background-image: url('img/tick.png');
}
#vertical-ticker .red{
background-image: url('img/tick2.png');
}
.Tble {
   width:100%;
	margin: 20px auto;
	height: 600px;
	overflow-y: scroll;
}
 .Tble table tr:nth-child(2n) {
    background: #eaeaea;
}
.Tble table {
    border: 1px solid #f2e5e5;
}



		.userID{
		display:none;
		}
    }

		@media only screen and (max-width:767px){
	.chart_outr span {
		font-size: 10px;
}
table#example th, table#example td {
    border-right: 1px solid rgba(0,0,0,.12);
    padding: 11px !important;
}

div#example_wrapper {
    overflow-x: scroll;
}

div#example2_wrapper {
    overflow-x: scroll;
}
table#example th, table#example td, table#example2 th, table#example2 td {
    padding: 0 15px !important;
}
}
