page-states {
.custom_Table {
    display: none;
}
@media (max-width: 768px) {
.heading {
    background: #ccc;
    padding: 12px 15px;
    text-align: left;
    font-weight: 600;
    position: relative;
    margin: 20px 0 10px;
}
.custom_Table {
    display:block;
}

.td_heading {
    background: #1caf8d;
    margin: 5px 0;
    line-height:20px;
    color: #fff;
    text-align: left;
    padding:10px 10px;
    display: inline-block;
    width: 100%;
}

.table100.ver1.m-b-110 {
    display: none;
}

.heading.active:after {
    content: "\f068";
    position: absolute;
    right: 13px;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    top: 16px;
}

.heading:before {
    content: "\f067";
    position: absolute;
    right: 13px;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
}
.heading.active:before{
    display:none;
}
.td_contents{display:none}
}
}
