// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.scroll-content{    contain: initial !important}
ion-label.label.label-md {
    color: #333;
    font-size: 16px;
    text-align: left;
}
body{
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial ;
}
.userID {
    display: none;
}
	@media (min-width: 768px) {
ion-header{display:none}
page-login section.form-section::before
{
  display:none
}
.form-design input {
    width: 100% ;  }
}

.header_section .nav {
     display: inherit;
    }
	body
{
	margin:0;


}

body ul
{
 margin:0 ;
 padding:0;
}
li
{
 list-style:none;
}
.top_bar ul,.lower_bar ul {
    text-align: right;
}

.top_bar ul li, .lower_bar ul li {
    display: inline-block;
    padding: 15px;
}

.top_bar ul li i {
    padding: 5px;
    color: #efab00;
    width: auto;
    height: auto;
    display: initial;
}

.top_bar ul li a, .lower_bar ul li a {
    color: #636567;
    text-decoration: none;
    font-size: 16px;
	    cursor: pointer;
}

.top_bar {
    border-bottom: 2px solid #efab00;
}
.container {
    width: 1200px;
    padding: 0 15px;
	margin:auto;
	    position: initial !important;
}
.lower_bar ul li {
    text-transform: uppercase;
        margin: 0 2px;
}
.logo {
    position: absolute;
    top: 11%;
    left: 6%;
	z-index:99;
}

header {
    position: relative;
}
img{
	max-width:100%;
}
 .lower_bar ul li {
    display: inline-block;
    padding: 18px 23px;
}
.banner h1 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 60px;
    margin: 0;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    height: 500px;
    object-fit: cover;
    width: 100%;
}

.banner:before {
    content: "";
    width: 100%;
	height:100%;
    background:rgba(0,0,0,0.6);
    position: absolute;
    z-index: 0;
}
.outer {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.right img {
    max-width: 100%;
}

.right {
    text-align: right;
    /* padding: 53px 0; */
    width: 50%;
}

.left h5 {
    font-size: 35px;
    color: #444444;
    text-align: center;
}

.left {
    width: 50%;
    padding: 86px 0 30px;
    position: relative;
    text-align: center;
}

.left a {
    font-size: 21px;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    background: #fca602;
    border-radius: 25px;
    padding: 12px 23px;
    margin: 24px 0 0;
    display: inline-block;
}
.lower_bar ul li:hover,.lower_bar ul li.active_menu {
    background: #efab00;
}
.lower_bar ul li{    vertical-align: top;}
.lower_bar ul li:hover a {
    color: #fff;
}
.state-drop-sec {
    background: url(../../assets/images/dorp-down-back.jpg) no-repeat;
    position: relative;
    padding: 50px 0;
    background-size: cover;
    z-index: 99;
        background-attachment: fixed;
}

.state-inner {
    padding: 15px 0;
    text-align: center;
    /* position: relative; */
}

.state-inner h5 {
    color: #fca602;
    font-size: 50px;
    margin: 0;
}
/*.state-inner .teleheath_section h5{font-size:50px} */

.state-inner select {
    margin: 30px auto;
    height: 50px;
    width: 100%;
    border: none;
    padding: 5px;
}
.select_dropdown .col_50{width:45%;display:inline-block;vertical-align:middle;margin:0 2%;}
.icons-sec ul li {
    display: inline-block;
    margin: 5px;

}
.icons-sec ul li a{
padding: 5px;
    background: #fca602;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height:48px;
	    display: inline-block;
	}
.icons-sec ul li a i {
    color: #fff;
    font-size: 24px;
}

.state-drop-sec:before {
    content: "";
    width: 100%;
    background: rgba(0,0,0,.78);
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
}

.content-medi {
    padding: 41px 0 88px;
}
/*******footer*****/
footer {
    background: url(../../assets/images/footer-back.png) no-repeat;
    background-size: cover;
    padding: 0 0 302px;
    margin: 76px 0 0;
}

.foot-outr {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.foot-outr ul li {
    display: inline-block;
    padding: 7px 40px;
}

.foot-outr ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #444444;
    text-transform: uppercase;
}

.lower-foot {
    text-align: right;
}

.lower-foot ul li {
    display: inline-block;
    padding: 10px;
    color: #444444;
    font-size: 16px;
    text-transform: uppercase;
}

.lower-foot ul li a {
    background: #fca602;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.lower-foot ul li a i {
    color: #f8fcff;
    padding: 0;
    display: inline;
}
.foot-outr ul li a:hover {
    color: #fca602;
}
.state-inner ul {
    margin: 29px 0 0;
}

.state-inner h5 {
    margin-bottom: 25px;
}

.map_section {
    margin: 72px auto;
	max-width:900px;
}
.select_dropdown {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.select_dropdown .item-select{width:46%;float:left;margin:0 2%;}
.table_hidee{margin-top: 50px;}
.icons-sec {
    float: left;
    width: 100%;
}
#state_data {
    margin: 20px auto !important;
    max-width: 1200px;
    overflow: hidden;
}
.left a:hover {
    color: #000;
    text-decoration: none;
}
#state_data {
    margin: 20px 0;
}
.foot-outr ul li:last-child {
    padding: 0 15px;
}
#state_data p {
    padding-left: 0;
}
@media screen and (max-width:767px){
.menu-enabled ion-content.content{top:50px !important}
.header,.scroll-content {
    margin: 0 !important;
}
.form-design {
    width: 100% !important;
    float:none;
	padding: 0 15px;
}
.form-design img {
    max-width: 26%;
}
.form-section .form-inner {
    margin: inherit;
	box-shadow:none;
}
input.text-input.text-input-ios {
    width: 100%;
}
.form-graphic {
    display: none;
}
ion-item.item.item-block.item-ios.item-input.ng-untouched.ng-pristine.ng-invalid {
    width: 100%;
    display: inherit !important;
    padding: 0;
}
ion-list.list.list-ios {
    margin: 0;
}
button.disable-hover.button.button-ios.button-default.button-default-ios.button-full.button-full-ios {
    top: 13px;
}
ion-label.label.label-ios {
    color: #000;
}
header .logo {
    display: none;
}

.lower_bar {
    display: none;
}

.top_bar {
    display: none;
}

ion-navbar.toolbar.toolbar-ios {
        padding: 6px 0 23px;
}

.logo {
    right: -31px;
    left: inherit;
}
  .logo img {
        max-width: 70%;
        width: 100%;
    }
	ion-icon.icon.icon-ios.ion-ios-menu {
    color: #efab00;
    padding: 10px 0;
}
.container {
    width: 100%;
	padding:15px;
}
.content-medi {
    padding: 0 15px;
}
.right {
    display: none;
}
.left {
    padding: 10px 0;
}
#state_data {
    padding: 0 15px;
}
.state-drop-sec {
    padding: 10px 0 ;
}
ion-list.list.list-md {
    margin: 14px 0 !important;
}
.form-design img {
    margin: 83px auto 2px !important;
}
.left h5 {
    padding: 0 5px;
}
footer{
	margin:20px 0 0;
	background-size: 100%;
    background-position: bottom;
    padding: 0px 0 92px;
}

.select_dropdown .item-select {
    width: 46%;
    float: left;
    margin: 0 2%;
}
.desprective-content p {
    margin-bottom: 15px;
}
.banner:before {
    height: 96%;
}
.foot-outr ul li:last-child {
    padding: 0 15px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}


.table-responsive.mobile_responsive_table {
    display: none;
}
.section-title h2 {
    background: rgba(0, 0, 0, 0.08);
    padding: 15px;
}

.section-title {
    margin: 0 !important;
    padding: 0 !important;
}
.section-title {
    position: relative;
}

.section-title h2:before {
    content: "\f067";
    position: absolute;
    right: 13px;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
}
.section-title.active h2:before{
	display:none;
}
.section-title h2:after{
	display:none;
}
.section-title.active h2:after{
	content: "\f068";
    position: absolute;
    right: 13px;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
}
.table-responsive.bg-danger_table.mobiel_issue_in_responsive {
    padding: 20px 0;
}
.section-title.text-center {
    margin-bottom: 20px !important;
}
.state-inner select{width: 90%;}
}
@media screen and (min-width:767px) and (max-width:992px){
	.lower_bar ul li {
		display: inline-block;
		padding: 18px 14px;
}
.state-head {
    padding: 24px !important;
}
.logo img {
    max-width: 55%;
}
}
