/* Tabulator v4.0.0 (c) Oliver Folkerd */
/*******************************
         Site Settings
*******************************/
/*-------------------
       Fonts
--------------------*/
/*-------------------
      Base Sizes
--------------------*/
/* This is the single variable that controls them all */
/* The size of page text  */
/*-------------------
  Exact Pixel Values
--------------------*/
/*
  These are used to specify exact pixel values in em
  for things like borders that remain constantly
  sized as emSize adjusts

  Since there are many more sizes than names for sizes,
  these are named by their original pixel values.

*/
/*-------------------
    Border Radius
--------------------*/
/* See Power-user section below
   for explanation of $px variables
*/
/*-------------------
      Site Colors
--------------------*/
/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Colored Backgrounds ---*/
/*--- Colored Text ---*/
/*--- Colored Headers ---*/
/*--- Colored Border ---*/
/*-------------------
     Alpha Colors
--------------------*/
/*-------------------
    Brand Colors
--------------------*/
/*--------------
  Page Heading
---------------*/
/*-------------------
        Page
--------------------*/
/*--------------
   Form Input
---------------*/
/* This adjusts the default form input across all elements */
/* Input Text Color */
/* Line Height Default For Inputs in Browser (Descendors are 17px at 14px base em) */
/*-------------------
    Focused Input
--------------------*/
/* Used on inputs, textarea etc */
/* Used on dropdowns, other larger blocks */
/*-------------------
        Sizes
--------------------*/
/*
  Sizes are all expressed in terms of 14px/em (default em)
  This ensures these "ratios" remain constant despite changes in EM
*/
/*-------------------
      Paragraph
--------------------*/
/*-------------------
       Links
--------------------*/
/*-------------------
  Highlighted Text
--------------------*/
/*-------------------
       Em Sizes
--------------------*/
/*
  This rounds $size values to the closest pixel then expresses that value in (r)em.
  This ensures all size values round to exact pixels
*/
/* em */
/* rem */
/*-------------------
       Loader
--------------------*/
/*-------------------
        Grid
--------------------*/
/*-------------------
     Transitions
--------------------*/
/*-------------------
     Breakpoints
--------------------*/
/* Columns */
/*******************************
           Power-User
*******************************/
/*-------------------
    Emotive Colors
--------------------*/
/* Positive */
/* Negative */
/* Info */
/* Warning */
/*-------------------
        Paths
--------------------*/
/* For source only. Modified in gulp for dist */
/*-------------------
       Icons
--------------------*/
/* Maximum Glyph Width of Icon */
/*-------------------
     Neutral Text
--------------------*/
/*-------------------
     Brand Colors
--------------------*/
/*-------------------
      Borders
--------------------*/
/*-------------------
       Accents
--------------------*/
/* Differentiating Neutrals */
/* Differentiating Layers */
/*-------------------
    Derived Values
--------------------*/
/* Loaders Position Offset */
/* Rendered Scrollbar Width */
/* Maximum Single Character Glyph Width, aka Capital "W" */
/* Used to match floats with text */
/* Header Spacing */
/* Minimum Mobile Width */
/* Positive / Negative Dupes */
/* Responsive */
/*******************************
             States
*******************************/
/*-------------------
      Disabled
--------------------*/
/*-------------------
        Hover
--------------------*/
/*---  Shadows  ---*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Focus
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
    Down (:active)
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*-------------------
        Active
--------------------*/
/*---  Colors  ---*/
/*---  Emotive  ---*/
/*---  Brand   ---*/
/*---  Dark Tones  ---*/
/*---  Light Tones  ---*/
/*******************************
             Table
*******************************/
/*-------------------
       Element
--------------------*/
/*--------------
     Parts
---------------*/
/* Table Row */
/* Table Cell */
/* Table Header */
/* Table Footer */
/* Responsive Size */
/*-------------------
       Types
--------------------*/
/* Definition */
/*--------------
    Couplings
---------------*/
/*--------------
     States
---------------*/
/* Positive */
/* Negative */
/* Error */
/* Warning */
/* Active */
/*--------------
     Types
---------------*/
/* Attached */
/* Striped */
/* Selectable */
/* Sortable */
/* Colors */
/* Inverted */
/* Basic */
/* Padded */
/* Compact */
/* Sizes */
#example-table-theme-semantic-ui {
  position: relative;
  background-color: #FFFFFF;
  overflow: hidden;
  font-size: 14px;
  text-align: left;
  width: 100%;
  margin: 1em 0em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: none;
  border-radius: 0.28571/pxrem;
  color: rgba(0, 0, 0, 0.87);
  -ms-transform: translatez(0);
  transform: translatez(0);
  /* Red */
  /* Orange */
  /* Yellow */
  /* Olive */
  /* Green */
  /* Teal */
  /* Blue */
  /* Violet */
  /* Purple */
  /* Pink */
  /* Brown */
  /* Grey */
  /* Black */
}

#example-table-theme-semantic-ui[tabulator-layout="fitDataFill"] .tabulator-tableHolder .tabulator-table {
  min-width: 100%;
}

#example-table-theme-semantic-ui.tabulator-block-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#example-table-theme-semantic-ui .tabulator-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  background-color: #F9FAFB;
  box-shadow: 1px 1px 1px #ccc !important;
  color: rgba(0, 0, 0, 0.87);
  font-style: none;
  font-weight: bold;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-color: #1caf8d;
  text-align: center;
  vertical-align: bottom;
  overflow: hidden;
  color: #fff;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col.tabulator-moving {
  position: absolute;
  border: 1px solid #999;
  background: #dae1e7;
  pointer-events: none;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col .tabulator-col-content {
  box-sizing: border-box;
  position: relative;
  padding: 12px 15px;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  font-weight: 700;
  font-size: 16px;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-title-editor {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #999;
  padding: 1px;
  background: #fff;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #bbb;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #ddd;
  overflow: hidden;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col.tabulator-col-group .tabulator-col-group-cols .tabulator-col:last-child {
  margin-right: -1px;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col:first-child .tabulator-col-resize-handle.prev {
  display: none;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col.ui-sortable-helper {
  position: absolute;
  background-color: #dae1e7 !important;
  border: 1px solid #ddd;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col .tabulator-header-filter {
  position: relative;
  box-sizing: border-box;
  margin-top: 2px;
  width: 100%;
  text-align: center;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col .tabulator-header-filter textarea {
  height: auto !important;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col .tabulator-header-filter svg {
  margin-top: 3px;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col .tabulator-header-filter input::-ms-clear {
  width: 0;
  height: 0;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col.tabulator-sortable .tabulator-col-title {
  padding-right: 25px;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col.tabulator-sortable:hover {
  cursor: pointer;
  background-color: #dae1e7;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-arrow {
  border-top: none;
  border-bottom: 6px solid #bbb;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="asc"] .tabulator-col-content .tabulator-arrow {
  border-top: none;
  border-bottom: 6px solid #666;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="desc"] .tabulator-col-content .tabulator-arrow {
  border-top: 6px solid #666;
  border-bottom: none;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-frozen {
  display: inline-block;
  position: absolute;
  z-index: 10;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-frozen.tabulator-frozen-left {
  box-shadow: 3px 3px 2px #349780;
  box-shadow: -10px 13px -10px #5da795;
  border: none !important;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-frozen.tabulator-frozen-right {
  border-left: 2px solid #ddd;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-calcs-holder {
  box-sizing: border-box;
  min-width: 200%;
  background: white !important;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-calcs-holder .tabulator-row {
  background: white !important;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
  display: none;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-frozen-rows-holder {
  min-width: 200%;
}

#example-table-theme-semantic-ui .tabulator-header .tabulator-frozen-rows-holder:empty {
  display: none;
}

#example-table-theme-semantic-ui .tabulator-tableHolder {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 400px;
}

#example-table-theme-semantic-ui .tabulator-tableHolder:focus {
  outline: none;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-placeholder {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-placeholder[tabulator-render-mode="virtual"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-placeholder span {
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
  color: #333;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-calcs {
  font-weight: bold;
  background: #f2f2f2 !important;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-top {
  border-bottom: 2px solid #ddd;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.tabulator-calcs.tabulator-calcs-bottom {
  border-top: 2px solid #ddd;
}

#example-table-theme-semantic-ui .tabulator-col-resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
}

#example-table-theme-semantic-ui .tabulator-col-resize-handle.prev {
  left: 0;
  right: auto;
}

#example-table-theme-semantic-ui .tabulator-col-resize-handle:hover {
  cursor: ew-resize;
}

#example-table-theme-semantic-ui .tabulator-footer {
  padding: 0.78571em 0.78571em;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: none;
  background: #F9FAFB;
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  white-space: nowrap;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#example-table-theme-semantic-ui .tabulator-footer .tabulator-calcs-holder {
  box-sizing: border-box;
  width: calc(100% + 20px);
  margin: -0.78571em -0.78571em 0.78571em -0.78571em;
  text-align: left;
  background: white !important;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  overflow: hidden;
}

#example-table-theme-semantic-ui .tabulator-footer .tabulator-calcs-holder .tabulator-row {
  font-weight: bold;
  background: white !important;
}

#example-table-theme-semantic-ui .tabulator-footer .tabulator-calcs-holder .tabulator-row .tabulator-col-resize-handle {
  display: none;
}

#example-table-theme-semantic-ui .tabulator-footer .tabulator-calcs-holder:only-child {
  margin-bottom: -0.78571em;
  border-bottom: none;
}

#example-table-theme-semantic-ui .tabulator-footer .tabulator-pages {
  margin: 0 7px;
}

#example-table-theme-semantic-ui .tabulator-footer .tabulator-page {
    display: inline-block;
    margin: 0 2px;
    border: 1px solid #1caf8d;
    border-radius: 3px;
    padding: 2px 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #1caf8d;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

#example-table-theme-semantic-ui .tabulator-footer .tabulator-page.active {
  color: #d00;
}

#example-table-theme-semantic-ui .tabulator-footer .tabulator-page:disabled {
  opacity: .5;
}

#example-table-theme-semantic-ui .tabulator-footer .tabulator-page:not(.disabled):hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

#example-table-theme-semantic-ui .tablulator-loader {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

#example-table-theme-semantic-ui .tablulator-loader .tabulator-loader-msg {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  font-weight: bold;
  font-size: 16px;
}

#example-table-theme-semantic-ui .tablulator-loader .tabulator-loader-msg.tabulator-loading {
  border: 4px solid #333;
  color: #000;
}

#example-table-theme-semantic-ui .tablulator-loader .tabulator-loader-msg.tabulator-error {
  border: 4px solid #D00;
  color: #590000;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.positive, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.positive {
  box-shadow: 0px 0px 0px #A3C293 inset;
  background: #FCFFF5 !important;
  color: #2C662D !important;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.positive:hover, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.positive:hover {
  background: #f7ffe6 !important;
  color: #275b28 !important;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.negative, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.negative {
  box-shadow: 0px 0px 0px #E0B4B4 inset;
  background: #FFF6F6 !important;
  color: #9F3A38 !important;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.negative:hover, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.negative:hover {
  background: #ffe7e7 !important;
  color: #943634 !important;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.error, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.error {
  box-shadow: 0px 0px 0px #E0B4B4 inset;
  background: #FFF6F6 !important;
  color: #dd0000 !important;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.error:hover, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.error:hover {
  background: #ffe7e7 !important;
  color: #943634 !important;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.warning, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.warning {
  box-shadow: 0px 0px 0px #C9BA9B inset;
  background: #FFFAF3 !important;
  color: #573A08 !important;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.warning:hover, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.warning:hover {
  background: #fff4e4 !important;
  color: #493107 !important;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.active, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.87) inset;
  background: #E0E0E0 !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.active:hover, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.active:hover {
  background: #f7ffe6 !important;
  color: #275b28 !important;
}

#example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.active, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row.disabled:hover, #example-table-theme-semantic-ui .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell.active {
  pointer-events: none;
  color: rgba(40, 40, 40, 0.3);
}

#example-table-theme-semantic-ui.inverted {
  background: #333333;
  color: rgba(255, 255, 255, 0.9);
  border: none;
}

#example-table-theme-semantic-ui.inverted .tabulator-header {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: rgba(255, 255, 255, 0.1) !important;
  color: rgba(255, 255, 255, 0.9);
}

#example-table-theme-semantic-ui.inverted .tabulator-header .tabulator-col {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

#example-table-theme-semantic-ui.inverted .tabulator-tableHolder .tabulator-table .tabulator-row {
  color: rgba(255, 255, 255, 0.9);
  border: none;
}

#example-table-theme-semantic-ui.inverted .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

#example-table-theme-semantic-ui.inverted .tabulator-footer {
  background: #FFFFFF;
}

#example-table-theme-semantic-ui.striped .tabulator-tableHolder .tabulator-table .tabulator-row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

#example-table-theme-semantic-ui.celled {
  border: 1px solid rgba(34, 36, 38, 0.15);
}

#example-table-theme-semantic-ui.celled .tabulator-header .tabulator-col {
  border-right: 1px solid rgba(34, 36, 38, 0.1);
}

#example-table-theme-semantic-ui.celled .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell {
  border-right: 1px solid rgba(34, 36, 38, 0.1);
}

.tabulator[class*="single line"] .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell {
  border-right: none;
}

#example-table-theme-semantic-ui.red {
  border-top: 0.2em solid #DB2828;
}

#example-table-theme-semantic-ui.inverted.red {
  background-color: #DB2828 !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.orange {
  border-top: 0.2em solid #F2711C;
}

#example-table-theme-semantic-ui.inverted.orange {
  background-color: #F2711C !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.yellow {
  border-top: 0.2em solid #FBBD08;
}

#example-table-theme-semantic-ui.inverted.yellow {
  background-color: #FBBD08 !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.olive {
  border-top: 0.2em solid #B5CC18;
}

#example-table-theme-semantic-ui.inverted.olive {
  background-color: #B5CC18 !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.green {
  border-top: 0.2em solid #21BA45;
}

#example-table-theme-semantic-ui.inverted.green {
  background-color: #21BA45 !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.teal {
  border-top: 0.2em solid #00B5AD;
}

#example-table-theme-semantic-ui.inverted.teal {
  background-color: #00B5AD !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.blue {
  border-top: 0.2em solid #2185D0;
}

#example-table-theme-semantic-ui.inverted.blue {
  background-color: #2185D0 !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.violet {
  border-top: 0.2em solid #6435C9;
}

#example-table-theme-semantic-ui.inverted.violet {
  background-color: #6435C9 !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.purple {
  border-top: 0.2em solid #A333C8;
}

#example-table-theme-semantic-ui.inverted.purple {
  background-color: #A333C8 !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.pink {
  border-top: 0.2em solid #E03997;
}

#example-table-theme-semantic-ui.inverted.pink {
  background-color: #E03997 !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.brown {
  border-top: 0.2em solid #A5673F;
}

#example-table-theme-semantic-ui.inverted.brown {
  background-color: #A5673F !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.grey {
  border-top: 0.2em solid #767676;
}

#example-table-theme-semantic-ui.inverted.grey {
  background-color: #767676 !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.black {
  border-top: 0.2em solid #1B1C1D;
}

#example-table-theme-semantic-ui.inverted.black {
  background-color: #1B1C1D !important;
  color: #FFFFFF !important;
}

#example-table-theme-semantic-ui.padded .tabulator-header .tabulator-col .tabulator-col-content {
  padding: 1em 1em;
}

#example-table-theme-semantic-ui.padded .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
  top: 20px;
}

#example-table-theme-semantic-ui.padded .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell {
  padding: 1em 1em;
}

#example-table-theme-semantic-ui.padded.very .tabulator-header .tabulator-col .tabulator-col-content {
  padding: 1.5em 1.5em;
}

#example-table-theme-semantic-ui.padded.very .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
  top: 26px;
}

#example-table-theme-semantic-ui.padded.very .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell {
  padding: 1.5em 1.5em;
}

#example-table-theme-semantic-ui.compact .tabulator-header .tabulator-col .tabulator-col-content {
  padding: 0.5em 0.7em;
}

#example-table-theme-semantic-ui.compact .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
  top: 12px;
}

#example-table-theme-semantic-ui.compact .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell {
  padding: 0.5em 0.7em;
}

#example-table-theme-semantic-ui.compact.very .tabulator-header .tabulator-col .tabulator-col-content {
  padding: 0.4em 0.6em;
}

#example-table-theme-semantic-ui.compact.very .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow {
  top: 10px;
}

#example-table-theme-semantic-ui.compact.very .tabulator-tableHolder .tabulator-table .tabulator-row .tabulator-cell {
  padding: 0.4em 0.6em;
}

#example-table-theme-semantic-ui .tabulator-row {
  position: relative;
  box-sizing: border-box;
  min-height: 22px;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-selectable:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.87) inset;
  background: #1caf8d59 !important;
  color: rgba(0, 0, 0, 0.87) !important;
  cursor: pointer;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-selected {
  background-color: #9ABCEA;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-selected:hover {
  background-color: #769BCC;
  cursor: pointer;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-moving {
  position: absolute;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  pointer-events: none !important;
  z-index: 15;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-row-resize-handle {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5px;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-row-resize-handle.prev {
  top: 0;
  bottom: auto;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-row-resize-handle:hover {
  cursor: ns-resize;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-frozen {
  display: inline-block;
  position: absolute;
  background-color: inherit;
  z-index: 10;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-frozen.tabulator-frozen-left {
  /* border-right: 1px solid #ddd; */
  background: #1caf8d;
  color: #fff !important;
  box-shadow: -3px -3px 4px #39927d;
  border: none !important;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-frozen.tabulator-frozen-right {
  border-left: 2px solid #ddd;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-responsive-collapse {
  box-sizing: border-box;
  padding: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-responsive-collapse:empty {
  display: none;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-responsive-collapse table {
  font-size: 14px;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-responsive-collapse table tr td {
  position: relative;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-responsive-collapse table tr td:first-of-type {
  padding-right: 10px;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 0.78571em 0.78571em;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center !important;
  height: 42px;
  }

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell:last-of-type {
  border-right: none;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell.tabulator-editing {
  border: 1px solid #1D68CD;
  padding: 0;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell.tabulator-editing input, .tabulator-row .tabulator-cell.tabulator-editing select {
  border: 1px;
  background: transparent;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell.tabulator-validation-fail {
  border: 1px solid #dd0000;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell.tabulator-validation-fail input, .tabulator-row .tabulator-cell.tabulator-validation-fail select {
  border: 1px;
  background: transparent;
  color: #dd0000;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell:first-child .tabulator-col-resize-handle.prev {
  display: none;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell.tabulator-row-handle {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box {
  width: 80%;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box .tabulator-row-handle-bar {
  width: 100%;
  height: 3px;
  margin-top: 2px;
  background: #666;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #666;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle:hover {
  opacity: .7;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle.open .tabulator-responsive-collapse-toggle-close {
  display: initial;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle.open .tabulator-responsive-collapse-toggle-open {
  display: none;
}

#example-table-theme-semantic-ui .tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle .tabulator-responsive-collapse-toggle-close {
  display: none;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-group {
  box-sizing: border-box;
  border-bottom: 1px solid #999;
  border-right: 1px solid #ddd;
  border-top: 1px solid #999;
  padding: 5px;
  padding-left: 10px;
  background: #fafafa;
  font-weight: bold;
  min-width: 100%;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-group:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-group.tabulator-group-visible .tabulator-arrow {
  margin-right: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666;
  border-bottom: 0;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-group.tabulator-group-level-1 .tabulator-arrow {
  margin-left: 20px;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-group.tabulator-group-level-2 .tabulator-arrow {
  margin-left: 40px;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-group.tabulator-group-level-3 .tabulator-arrow {
  margin-left: 60px;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-group.tabulator-group-level-4 .tabulator-arrow {
  margin-left: 80px;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-group.tabulator-group-level-5 .tabulator-arrow {
  margin-left: 100px;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-group .tabulator-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 16px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 0;
  border-left: 6px solid #666;
  vertical-align: middle;
}

#example-table-theme-semantic-ui .tabulator-row.tabulator-group span {
  margin-left: 10px;
  color: #666;
}
.tabulator-row.tabulator-row-even {
    background-color: #f5f5f5 !important;
}
.tabulator-row .tabulator-cell {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 4px;
    border-right:none;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 2px -1px 4px rgba(185, 185, 185, 0.28);
}
.table-controls {
    text-align: right;
}
button#download-csv,#download-xlsx, #download-pdf {
    background: #1caf8d !important;
    padding: 11px;
    color: #fff;
    border: indianred;
    font-weight: 600;
    font-size: 16px;
}
#download-csv:hover, #download-xlsx:hover, #download-pdf:hover{
    background: #1caf8d59 !important;
	color:#000;
}
/************sud******************/

    select#states {
    width: 100%;
    height: 40px;
    max-width: 350px;
    display: inline-block;
    float: none;
}
div#generate {
    display: inline-block;
}
                   .drops {
    float:  left;
    width: 100%;
    margin: 20px 0;
}
div#loadData {
    float: left;
    width: 100%;
}
.footerMain .row {
    width: 100%;
}
.ryt a i {
    font-size: 31px;
    margin: 3px 0;
}      
            select#states:focus {
                outline:  none;
            }
         svg {
    margin: 10px 0 !important;
}


.toggllee i {
    font-size: 30px;
}
.toggllee {
    width: 100%;
    float: left;
    margin-bottom: 42px;
}
#usaTerritories-map {
    width: 1182px !important;
    margin: auto !important;
    clear:both;
}
.container {
    position:relative;
}
span.my_toggle i {
    color: #7ab800;
    font-size: 40px;
}
iframe {
    height: 100vh;
}
.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/5.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .9;
}

a.intro-c:hover {
    color: #7ab800;
}
.section.select_bottom_sec {

    clear: both;

}
.tabledata_outr.z-depth-2 table {
    width: 100%;
}
.chart_outr.content_outr {

    padding: 75px 0 !important;

}
a.intro-c i {
    color: #7ab800;
    font-size: 40px;
}

.drops {
    display: inline-block;
	text-align:center;
}
a.intro-c {
    vertical-align: bottom;
    padding: 0;
    float: none;
    display: inline-block;
}

span.charttt i {
    vertical-align: bottom;
}

span.my_toggle {
    vertical-align: bottom;
    display: inline-block;
}
div#generate {
    display: inline-block;
    vertical-align: bottom;
}
.table_hidee.chart-tog {
    display: block;
}

.table_hidee {
    display: none;
}
select#states{
	float:none !important;
}
.drops i {
    font-size: 32px !important;
    padding: 0 2px;
}

div#generate i {
    font-size: 28px !important;
}
div#generate i {
    color: #7ab800;
}


/***********13/11/2018****************/

ul.research-img {
    margin: 26px 0;
    padding: 0;
    display: flex;
}
ul.research-img li {
    width: 16%;
    list-style: none;
    position: relative;
    margin-right: 10px;
}
ul.research-img li img {
    width: 100%;
    max-width: 100%;
}
.research_info h6 {
    color: #fff;
    font-size: 14px;
    text-align: center !important;
    margin: 0;
    text-transform: capitalize;
}
.research_info p {
    text-align: center !important;
    color: #fff !important;
    font-weight: 400;
    margin: 0;
	font-size:15px;
	text-transform:uppercase;
}
.research_info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.22);
    padding: 10px 0;
}
ul.research-img li a {
    width: 100%;
    height: 100%;
    display: block;
}
.desprective-content h4 {
    color: #72a212;
    font-size: 30px;
    margin: 36px 0 10px;
}

span.date {
    color: #a0a0a0;
}
.desprective-content.sud-content {
    width: 990px;
    margin: auto;
}
.toggllee i {
    font-size: 40px !important;
}
.desprective-content sup {
    color: #72a212;
    font-size: 13px;
}
.toggllee #usaTerritories-map {
    margin: 50px auto 30px !important;
}
.toggllee ul.sources {
    margin: 0 0 30px;
}
.research_info p {
    font-size: 12px !important;
}
.top-section a {
    text-align: right;
    background: #7ab800;
    color: #fff;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    top: 2px;
    right: 0;
}

.top-section a i {
    color: #fff;
    font-size: 17px !important;
    padding-right: 5px;
}

.top-section {
    position: relative;
}
.desprective-content p{
  margin: 0;
}
.content-bio p {
    margin-bottom: 30px;
}

.header1:after {
    width: 100%;
    content: "";
    display: block;
    clear: both;
    float:none !important;
}
.table_hide {
       width: 100%;
    margin: auto;
    height: 100%;
    max-width: 1140px;
}

.desprective-content.sud-content p {
    margin: 24px 0;
}

.table100.ver1 td:nth-child(1),.table100.ver1 th:nth-child(1) {
    width: 20%;
    padding:34px 20px 20px;
}
.table100.ver1 td:nth-child(2),.table100.ver1 th:nth-child(2)  {
    width: 40%;
}
.table100.ver1 td:nth-child(3),.table100.ver1 th:nth-child(3)  {
    width: 40%;
}
.table100-head table {
    table-layout: fixed;
}

td.cell100.column2 {
    padding: 34px 0;
}

.guide ul li {
    display: inline-flex;
    margin-right: 15px;
}

.guide ul li span {
    padding-right: 7px;
}

.guide ul li h5 {
    padding: 3px 0;
}
td, th {
    font-family: 'Open Sans', sans-serif !important;
}
/********11/16/18*********/

#example-table-theme-semantic-ui .tabulator-row .tabulator-frozen.tabulator-frozen-left{
    position: sticky !important;
    left: 0 !important;
    position :-webkit-sticky !important;
}
.tabulator-row.tabulator-selectable.tabulator-row-odd {
    padding-left : 0 !important;
}

.tabulator-row.tabulator-selectable.tabulator-row-even {
    padding-left: 0 !important;
}

/*****************/
@media (max-width:992px){
	.toggllee {
    width: 100% !important;
}
.top-section a {
    position: unset;
    display: inline-block;
    margin: 20px 0;
    padding: 7px;
    font-size: 12px;
}

#usaTerritories-map {
    width: auto !important;
}

span.date {
    display: block;
}

.desprective-content ul li {
    width: 100%;
}
.contentss {
    width: auto !important;
    margin: auto;
    height: 100%;
}
.tabulator-cell.tabulator-frozen.tabulator-frozen-left {
    position: fixed;
    left: 0;
}
.desprective-content.sud-content {
    width: 100%;
    margin: auto;
}
}
@media (max-width:767px){
    .table100-body {
    margin: 25px 0;
}

}
@media (max-width:450px){
	ul.research-img {
    display: block;
    margin: 20px;
}

.desprective-content ul li {
    margin-bottom: 16px;
}

}

