page-telehealth {
  		.header_section {
			display: block;
		}
    .table-responsive table tr th:first-child,.table-responsive table tr td:first-child {
    width: 41%;
}

.table-responsive table tr th:nth-child(2),.table-responsive table tr td:nth-child(2){
    width: 20%;
}
.table-responsive table tr th:nth-child(3),.table-responsive table tr td:nth-child(3){
    width:40%;
}
     @media (max-width: 768px) {
		.select_dropdown .col_50{width:96%;margin-top:30px;}
		.state-inner h5{font-size:35px;}
		}
}
