
<ion-content class="page-home" cache-view="false" view-title="My Title!">
<my-main-header pagetitle="340B"></my-main-header>
	<!------>
	<section>
		<div class="banner">
			<img src="../../assets/images/fourtyb.jpeg">
			<div class="container">
				<h1>340B</h1>
			</div>
		</div>
	</section>

	<!------>
		<section>
		<div class="container">
			<div class="outer">
				<div class="left">
					<h5> 340B 50 State Survey</h5>
					<a href="#" class="download_att_fourth">Dowload attachment</a>
				</div>
				<div class="right">
				<img src="../../assets/images/right-img.png"></div>
			</div>
			<div class="content-medi">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
			</div>
		</div>

	</section>

	<section class="state-drop-sec">
		<div class="container">
			<div class="state-inner">
				<h5>Select States</h5>
					 <select class="select_state_fourth"  name="statename"  >
						<option *ngFor="let state of states" value="{{state.name}}"   [disabled]="state.available == 0" >{{state.name}}</option>
					  </select>

				<div class="icons-sec">
					<ul>
						<li><a href="" class="qus_fourty" ><i class="fas fa-question"></i></a></li>
					<li><a class="map_fourty" onclick="show_map(4)"><i class="fas fa-globe-americas"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!---section-->
	<section>

		 <div class="container">
		<div class="map_section">
			<div class="jsmaps-wrapper-box"><div data-step="2" data-intro="Click on state" class="jsmaps-wrapper" id="usaTerritories-map4"></div>       </div>
		</div>


		<div class="material_outr">
					<div id="state_data"></div>
				</div>
		 </div>
	</section>
	<!--section-->


	<!----footer-->
    <footer>
		<div class="container">
			<div class="foot-outr">
				<div class="left-foot">
					<img src="">
				</div>
				<div class="right-foot">
					<ul>
						<li><a href="">Privacy</a></li>
						<li><a href="/#/340b">340B</a></li>
						<li><a href="/#/1115states" >1115 States</a></li>
					</ul>
				</div>
			</div>
			<div class="lower-foot">
				<ul>
					<li>Follow us:</li>
					<li>
						<a href=""><i class="fab fa-facebook"></i> </a>
						<a href=""><i class="fab fa-twitter"></i></a>
						<a href=""><i class="fab fa-linkedin-in"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	<!----footer-->

</ion-content>
